footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #233f51;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}
.icon{
  display: flex;
  align-items: center;
  margin-left: 80px
}


footer .footer-right {
  margin-right: 80px;
}
/* footerここまで */
