/* header固定 */
/*
 本来はidで実施する必要はない
 今回はidの使い方も覚えるため実施
*/

$background-color: #1dace0;
$logoname-color: #eae51f;

#fixed {
  position: fixed;
  width: 100%;
  margin-top: -70px;
}

#margin-for-fixed {
  margin-top: 70px;
}
/* header固定ここまで */

/* header */

.header {
  display: flex;
  justify-content: space-between;
  background-color: $background-color;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;

  &__icon{
    display: flex;
    align-items: center;
    margin-left: 80px;
  }

  &--right{
    display: flex;
    align-items: center;
    margin-right: 80px;
  }
}

.icon img {
  height: 60px;
}

.icon .name strong {
  color: $logoname-color;
}

.header-right li:first-child {
  margin-right: 20px;
}
